name: Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '11'

      - name: Grant permission
        run: chmod +x gradlew

      # ✅ AUTO BUILD (بدون اسم module)
      - name: Build APK
        run: ./gradlew assembleDebug

      - name: Build AAB
        run: ./gradlew bundleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: '**/*.apk'

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: AAB
          path: '**/*.aab'
