name: Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '11'

      - name: Permission
        run: chmod +x gradlew

      # ✅ BUILD APK FROM APP MODULE
      - name: Build APK
        run: ./gradlew :app:assembleDebug

      # ✅ BUILD AAB FROM APP MODULE
      - name: Build AAB
        run: ./gradlew :app:bundleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: app/build/outputs/**/*.apk

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: AAB
          path: app/build/outputs/**/*.aab
