name: Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '11'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Build Project
        run: ./gradlew build

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: app/build/outputs/**/*.apk

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: AAB
          path: app/build/outputs/**/*.aab
