name: Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '11'

      - name: Give permission
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build --stacktrace

      - name: Upload APK files
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: |
            **/*.apk

      - name: Upload AAB files
        uses: actions/upload-artifact@v4
        with:
          name: AAB
          path: |
            **/*.aab
